{% extends "base.html" %}

{% block title %}Student Info{% endblock %}

{% block header %}
    <h1>STUDENT INFO</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="{% url 'academy:student_info' %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.identifier.errors }}
                <label for="{{ form.identifier.id_for_label }}">Identifier:</label>
                {{ form.identifier }}
            </div>
            <div class="fieldWrapper">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}
            </div>
            <div class="fieldWrapper">
                {{ form.phone.errors }}
                <label for="{{ form.phone.id_for_label }}">Phone:</label>
                {{ form.phone }}
            </div>
            <div class="submit-container">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}